 .boximg{
    img{
        float: left;
        width: 50%;
    }
  }

  .bloque1{
      padding: 0% 4% 0% 4%;
      width: 95%;
  }

  .bloque2{
    padding: 0% 4% 0% 4%;
    width: 95%;

  }

  .tocino,.flecha,.acordeón{
      display: none;
  }