.seccion1{
    padding: 5%;
    margin: 0;
    font-size: 95px;

}

h1{
    font-weight: bold;
    padding: 4% 4% 8% 4%;
    margin: 0;
}

.logo{
    float: left;
    width: 35%;
    padding: 4%;
}

.menuHamburguesa{
    width:7%;
    padding: 5%;
    padding-left: 80%;
    padding-top: 5%;
}
.Irayo{
    display: none;
}

p{
    color: $texto;
    padding: 4% 4% 8% 4%;
    margin: 0;
    font-size: 13px
}
