//Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 640px;
$breakpoint-lg: 980px;
$breakpoint-xl: 1024px;

//Colores
$seccion3: #f2fbfb;
$texto:#aeadae;
$línea:black;

//Fonts
$Montserrat: 'Montserrat', 'sans-serif';